/* Mudanças padrão */

body{
    margin: 0;
    background-color: #1A1A1A;
    background-size: cover;
}

.Header-old {
  z-index: 40;
  padding-top: 14px;
  padding-bottom: 15px;
  color: #fff;
  background-color: black;
}



h1{
  text-align: center;
color:darkviolet;
  
}


.celula{
  background: #00f;
  
}
/* Tela de "contato.php" */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  /*background: linear-gradient(45deg, #120a8f, #3ff, #7cfc00);*/
  background-color: rgba(48,237,244, 0.8);
  border-radius: 10px;
  border-color: black;
}

input[type="text"],
textarea {
  margin-bottom: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #ccc;
}

input[type="submit"] {
  background-color: black;
  color: aqua;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  z-index: 1;
  
}



input[type="submit"]:hover:before {
  height: 100%;
}

/* Botões */

ul 
  {
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 72px;
    justify-content: center;
}

ul li
{
  list-style: none;
}

ul li a{
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  transition: 0.5s ease;
}

ul:hover li a{
  color: purple;
}

ul:hover li a:not(:hover){
  color:white;
  opacity: 0.3;
  filter: blur(1px);
}


.celula{
  background-color: aqua;
}


select .cars{
  background-color: #00f;
}

.Terror,
.Comedia,
.Romance{
  background-color: #00f;
}

label .cars{ 
  font-size: 26px;
}